body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    height: 100vh;
    background-image: url("images/tlo"); no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* nav-bar*/
nav {
    padding: 25px;
    background-color: #282828;
    color: whitesmoke;
    flex-direction: row;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    margin-left: auto;
}
.navbar-brand, 
.nav-link{
    text-decoration: none;  
    color: whitesmoke;  
}
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #cd6858;
    margin: 0;
    padding: 12px;
    gap: 10px;
    position: relative;
    
}
li {
    cursor: pointer;
}

/*log-section*/

main{
    margin-top: 50px;
}
.item {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
input{
 
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: lightgrey;
}
label {
    color: whitesmoke;
    text-shadow: 2px 1px black;
    
}

/*button*/
button {
    align-self: center;
    border: none;
    background-color: #cd6858; 
    color: whitesmoke;
    padding: 8px 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 18px;
}